.App {
  font-family: sans-serif;
  text-align: center;
}

/* .content {
  display: Flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
} */
